@import "./utils/variables";
@import "./utils/hidden";

@import "./base/reset";
@import "./base/common";

@import "./components/container";
@import "./components/modal";

@import "./sections/header";
@import "./sections/hero";
@import "./sections/features";
@import "./sections/services";
@import "./sections/team";
@import "./sections/social";
@import "./sections/clients";
@import "./sections/footer";
@import "./sections/portfolio";
