:root {
  --main-header-color: #212121;
  --second-header-color: #757575;
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --main-text-color: #757575;
  --main-footer-color: #ffffff;
  --second-footer-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-btn-background-color: #2196f3;
  --second-btn-background-color: #f5f4fa;
  --main-background-color: #2f303a;
  --main-icons-color: #afb1b8;
}
