.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background-color);
}
.footer__container {
  text-align: center;
  @include desktop {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}
.footer__address {
  margin-bottom: 60px;
  text-align: center;

  @include tablet {
    margin-right: 165px;
  }
  @include desktop {
    text-align: left;
    margin-right: 70px;
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.footer__logo {
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer__logo-second {
  color: var(--main-footer-color);
}
.footer__wrap-content {
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.address {
  font-style: inherit;
}
.footer__item + .footer__item {
  margin-top: 8px;
  @include desktop {
    margin-top: 9px;
  }
}
.footer__link {
  display: inline-block;
  // font-style: normal;
  // font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-footer-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @include desktop {
    margin-bottom: 9px;
  }
}
.footer__link-mail,
.footer__link-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-footer-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__soc {
  margin-bottom: 60px;
  @include desktop {
    margin-right: 93px;
    margin-bottom: 0;
  }
}
.footer__soc-list {
  display: flex;
  // width: 100%;
  justify-content: center;
}
.footer__soc-item {
  width: 44px;
  height: 44px;
  @include desktop {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.footer__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-footer-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer__soc-icon {
  fill: currentColor;
}
.footer__soc-title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-footer-color);
}
// .footer__soc-title {
//   margin-bottom: 20px;
//

.footer__subscription-form {
  @include desktop {
    display: flex;
  }
}
.footer__subscription-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-footer-color);
  &:placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    border-color: var(--accent-color);
  }
  &:focus::placeholder {
    color: var(--main-footer-color);
  }

  @include mobile {
    width: 450px;
  }
  @include desktop {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}
.btn {
  position: relative;
  padding-left: 29px;
  text-align: left;
}
.btn__subscription-icon {
  margin-left: 10px;
  fill: currentColor;
  //   position: absolute;
  //   right: 28px;
  //   top: 50%;
  //   transform: translateY(-50%);
}
