.header {
  border-bottom: 1px solid #ececec;
}
.main-header {
  display: flex;
  align-items: center;

  @include mobile-only {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include tablet {
    min-height: 80px;
  }
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--accent-color);

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__second {
  color: #000000;
}
.menu__close-btn {
  @include mobile-only {
    margin-left: auto;
  }
}
.menu__open-btn,
.menu__close-btn {
  @include mobile-only {
  }
  display: block;
  border: none;
  padding: 0;

  background-color: transparent;
  fill: currentColor;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
  @include tablet {
    display: none;
  }
}

.mob-menu {
  @include mobile-only {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding-top: 10px;

    background-color: #ffffff;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .container-menu {
      padding-left: 40px;
      padding-bottom: 48px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      overflow: auto;
    }
  }
}
.mob-menu.is-hidden {
  transform: translateX(0);
}
.mob-menu__item:not(:last-child) {
  @include mobile-only {
    margin-bottom: 32px;
  }
  @include tablet {
    margin-right: 50px;
  }
}
.contacts__item {
  @include tablet {
    display: flex;

    color: var(--second-header-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.contacts__item:not(:last-child) {
  @include mobile-only {
    margin-bottom: 32px;
  }
  @include tablet {
    margin-top: 10px;
  }
  @include desktop {
    margin-top: 0;
    margin-left: 30px;
  }
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-header-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @include tablet {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
    &.current {
      color: var(--accent-color);
    }
    &.current::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      bottom: -1px;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }
}
.mob-menu__list {
  @include mobile-only {
    margin-bottom: 100px;
  }
  @include tablet {
    display: flex;
    margin-left: 88px;
  }
  @include desktop {
    margin-left: 93px;
  }
}

.mob-menu__contacts {
  @include mobile-only {
    margin-bottom: 64px;
  }
  @include tablet {
    margin-left: 84px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 305px;
  }
}
.contacts__list {
  @include desktop {
    align-items: center;
  }
}
.contacts__icon {
  @include mobile-only {
    display: none;
  }
  @include tablet {
    margin-right: 8px;
    fill: currentColor;
  }
}
.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  @include tablet {
    display: flex;
    align-items: center;
    color: var(--second-header-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link-tel {
  @include mobile-only {
    font-size: 34px;
    line-height: 1.18;

    color: var(--accent-color);
  }
  @include tablet {
    font-size: 12px;
    line-height: 1.17;
    color: var(--second-header-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link-mail {
  @include mobile-only {
    font-size: 24px;
    line-height: 1.17;
    color: var(--main-text-color);
  }
  @include tablet {
    font-size: 12px;
    line-height: 1.17;
    color: var(--second-header-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
  }
}
.soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-menu__soc {
  display: flex;
  @include tablet {
    display: none;
  }
}
.soc__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:focus,
  &:hover {
    border-right: 1px solid var(--accent-color);
  }
}

.container-menu {
  @include tablet {
    display: flex;
    align-items: center;
  }
}
