.hero {
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    text-align: center;
  }
}
.hero__title {
  display: flex;
  margin: 0 auto 30px;

  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.hero__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid #000000;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  background-color: var(--main-btn-background-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.overlay {
  min-width: 1600px;
  height: 600px;
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4));
  background-image: url(../);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
