.services {
  padding-top: 0;
}
.practic {
  display: flex;
}
.services__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.practic__item + .practic__item {
  margin-left: 30px;
}
.practic__thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.practic__img-name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
